# ========================
# BUILD OUTPUT
# ========================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# MAVEN / WRAPPER
# ========================
!.mvn/wrapper/maven-wrapper.jar

# ========================
# IDE FILES
# ========================
# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# SENSITIVE FILES
# ========================
.evn
src/main/resources/application.properties

HELP.md