USE [master]
GO
/****** Object:  Database [BENH_VIEN_NIMBUS]    Script Date: 8/10/2025 8:47:00 PM ******/
CREATE DATABASE [BENH_VIEN_NIMBUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BENH_VIEN_NIMBUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BENH_VIEN_NIMBUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BENH_VIEN_NIMBUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BENH_VIEN_NIMBUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BENH_VIEN_NIMBUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BENH_VIEN_NIMBUS]
GO
/****** Object:  Table [dbo].[bac_si]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bac_si](
	[bacsi_id] [int] IDENTITY(1,1) NOT NULL,
	[chung_chi] [nvarchar](225) NOT NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[kinh_nghiem] [int] NOT NULL,
	[ngay_cap_nhat] [date] NULL,
	[ngay_tao] [date] NULL,
	[ngay_tuyen_dung] [date] NULL,
	[trang_thai_hoat_dong] [bit] NULL,
	[trinh_do] [nvarchar](50) NOT NULL,
	[chuyenkhoa_id] [int] NOT NULL,
	[nguoidung_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bacsi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benh]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benh](
	[benh_id] [int] IDENTITY(1,1) NOT NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[huong_dieu_tri] [nvarchar](225) NOT NULL,
	[nguyen_nhan] [nvarchar](225) NOT NULL,
	[phong_ngua] [nvarchar](225) NOT NULL,
	[ten_benh] [nvarchar](50) NOT NULL,
	[trieu_chung] [nvarchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[benh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benh_an]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benh_an](
	[benhan_id] [int] IDENTITY(1,1) NOT NULL,
	[ghi_chu] [nvarchar](225) NOT NULL,
	[ket_luan] [nvarchar](225) NOT NULL,
	[thoi_gian] [datetime] NOT NULL,
	[tom_tat] [nvarchar](100) NOT NULL,
	[bacsi_ket_luan_id] [int] NOT NULL,
	[lichkham_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[benhan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benh_nhan]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benh_nhan](
	[benhnhan_id] [int] IDENTITY(1,1) NOT NULL,
	[bao_hiem] [nvarchar](25) NULL,
	[can_cuoc_cong_dan] [varchar](12) NULL,
	[dan_toc] [nvarchar](15) NULL,
	[dia_chi] [nvarchar](225) NULL,
	[lien_he_khan_cap] [nvarchar](50) NULL,
	[ngay_cap_nhat] [date] NULL,
	[ngay_tao] [date] NULL,
	[nguoidung_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[benhnhan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[black_listt]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[black_listt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[expired_at] [datetime2](6) NULL,
	[token_blacklist] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certificate_update_request]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificate_update_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[approved_at] [datetime2](6) NULL,
	[new_certificate] [nvarchar](255) NULL,
	[reason] [nvarchar](200) NULL,
	[requested_at] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
	[doctor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_don_thuoc]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_don_thuoc](
	[ctdonthuoc_id] [int] IDENTITY(1,1) NOT NULL,
	[khoan_thoi_gian] [int] NOT NULL,
	[lieu_dung] [int] NOT NULL,
	[ten_thuoc] [nvarchar](50) NOT NULL,
	[tinh_thuong_xuyen] [int] NOT NULL,
	[donthuoc_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ctdonthuoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[cthoadon_id] [int] IDENTITY(1,1) NOT NULL,
	[don_gia] [decimal](18, 2) NOT NULL,
	[so_luong] [int] NOT NULL,
	[tong_gia] [decimal](18, 2) NOT NULL,
	[dichvu_id] [int] NOT NULL,
	[hoadon_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cthoadon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuyen_khoa]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuyen_khoa](
	[chuyenkhoa_id] [int] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](225) NOT NULL,
	[ten_khoa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chuyenkhoa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dich_vu]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dich_vu](
	[dichvu_id] [int] IDENTITY(1,1) NOT NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[mo_ta] [nvarchar](250) NOT NULL,
	[ten_dich_vu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dichvu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_nghi_phep]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_nghi_phep](
	[don_id] [int] IDENTITY(1,1) NOT NULL,
	[ly_do] [nvarchar](255) NULL,
	[ly_do_tu_choi] [nvarchar](255) NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[ngay_gui] [datetime] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[ngay_tao] [datetime] NULL,
	[trang_thai] [varchar](20) NOT NULL,
	[bacsi_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[don_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_thuoc]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_thuoc](
	[donthuoc_id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_phat_hanh] [datetime] NULL,
	[ppdieutri_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[donthuoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gio_kham_chi_tiet]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gio_kham_chi_tiet](
	[gio_kham_id] [int] IDENTITY(1,1) NOT NULL,
	[thoi_gian] [time](7) NOT NULL,
	[trang_thai] [bit] NULL,
	[lichlv_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gio_kham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_so_benh_an]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_so_benh_an](
	[hoso_id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_tao] [datetime] NULL,
	[benh_id] [int] NOT NULL,
	[benhan_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hoso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[hoadon_id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_tao] [datetime] NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[tong_tien_con_no] [decimal](18, 2) NULL,
	[tong_tien_thanh_toan] [decimal](18, 2) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[benhnhan_id] [int] NOT NULL,
	[nguoidung_lap_hoadon_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hoadon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[le_tan]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[le_tan](
	[letan_id] [int] IDENTITY(1,1) NOT NULL,
	[chuc_vu] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ngay_cap_nhat] [date] NULL,
	[ngay_tao] [date] NULL,
	[ngay_tuyen_dung] [date] NOT NULL,
	[trang_thai_hoat_dong] [bit] NOT NULL,
	[nguoidung_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[letan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_kham]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_kham](
	[lichkham_id] [int] IDENTITY(1,1) NOT NULL,
	[ca_kham] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[ngay_kham] [date] NULL,
	[ngay_tao] [datetime] NOT NULL,
	[thoi_gian_den] [time](7) NULL,
	[thoi_gian_tu] [time](7) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[bacsi_id] [int] NOT NULL,
	[benhnhan_id] [int] NOT NULL,
	[loai_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lichkham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_lam_viec_bac_si]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_lam_viec_bac_si](
	[lichlv_id] [int] IDENTITY(1,1) NOT NULL,
	[ca_truc] [nvarchar](50) NULL,
	[ly_do_nghi] [nvarchar](225) NULL,
	[ngay] [date] NOT NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[ngay_tao] [datetime] NOT NULL,
	[bacsi_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lichlv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_lam_viec_le_tan]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_lam_viec_le_tan](
	[lichlt_id] [int] IDENTITY(1,1) NOT NULL,
	[ca_lam] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ngay] [date] NOT NULL,
	[letan_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lichlt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_phong_kham]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_phong_kham](
	[lichphongkham_id] [int] IDENTITY(1,1) NOT NULL,
	[lichlv_id] [int] NOT NULL,
	[phongkham_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lichphongkham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_dieu_tri]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_dieu_tri](
	[lsdieutri_id] [int] IDENTITY(1,1) NOT NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ngay_dieu_tri] [date] NULL,
	[benhan_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lsdieutri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_hinh_kham]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_hinh_kham](
	[loai_id] [int] IDENTITY(1,1) NOT NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[mo_ta] [nvarchar](225) NOT NULL,
	[ten_loai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[nguoidung_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](225) NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[hoten] [nvarchar](50) NOT NULL,
	[mat_khau] [varchar](225) NOT NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
	[so_dien_thoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[nguoidung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp_nguoi_dung]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp_nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [varchar](255) NULL,
	[expire_at] [datetime2](6) NULL,
	[gioi_tinh] [varchar](255) NULL,
	[ho_ten] [nvarchar](50) NULL,
	[mat_khau] [varchar](255) NULL,
	[otp_code] [varchar](255) NULL,
	[is_reset_password] [bit] NULL,
	[so_dien_thoai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_quyen]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_quyen](
	[phanquyen_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NOT NULL,
	[vaitro_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phanquyen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_kham]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_kham](
	[phongkham_id] [int] IDENTITY(1,1) NOT NULL,
	[loai_phong] [nvarchar](225) NOT NULL,
	[mo_ta] [nvarchar](225) NULL,
	[so_phong] [nvarchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phongkham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phuong_phap_dieu_tri]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuong_phap_dieu_tri](
	[ppdieutri_id] [int] IDENTITY(1,1) NOT NULL,
	[hieu_qua] [nvarchar](50) NOT NULL,
	[ten_phuong_phap] [nvarchar](225) NOT NULL,
	[lsdieutri_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ppdieutri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quan_ly]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quan_ly](
	[quanly_id] [int] IDENTITY(1,1) NOT NULL,
	[chuc_vu] [nvarchar](50) NOT NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ngay_cap_nhat] [date] NULL,
	[ngay_tao] [date] NULL,
	[nguoidung_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[quanly_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[thanhtoan_id] [int] IDENTITY(1,1) NOT NULL,
	[ghi_chu] [nvarchar](225) NULL,
	[ma_giao_dich] [nvarchar](225) NULL,
	[ngay_thanh_toan] [date] NOT NULL,
	[phuong_thuc_thanh_toan] [nvarchar](50) NOT NULL,
	[so_tien_thanh_toan] [decimal](18, 2) NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[hoadon_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[thanhtoan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 8/10/2025 8:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[vaitro_id] [int] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](225) NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vaitro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bac_si] ON 

INSERT [dbo].[bac_si] ([bacsi_id], [chung_chi], [ghi_chu], [kinh_nghiem], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [trinh_do], [chuyenkhoa_id], [nguoidung_id]) VALUES (1, N'CC001', N'Chuyên điều trị tăng huyết áp, tiểu đường với hơn 12 năm kinh nghiệm.', 12, CAST(N'2025-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2022-01-01' AS Date), 1, N'Tiến sĩ', 1, 2)
INSERT [dbo].[bac_si] ([bacsi_id], [chung_chi], [ghi_chu], [kinh_nghiem], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [trinh_do], [chuyenkhoa_id], [nguoidung_id]) VALUES (2, N'CC002', N'Bác sĩ nhi tận tâm, am hiểu tâm lý trẻ và tư vấn dinh dưỡng hiệu quả.', 8, CAST(N'2025-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2021-06-15' AS Date), 1, N'Thạc sĩ', 2, 5)
INSERT [dbo].[bac_si] ([bacsi_id], [chung_chi], [ghi_chu], [kinh_nghiem], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [trinh_do], [chuyenkhoa_id], [nguoidung_id]) VALUES (3, N'CC003', N'Kỹ năng phẫu thuật vững vàng, đặc biệt trong điều trị viêm ruột thừa và thoát vị.', 10, CAST(N'2025-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2020-03-01' AS Date), 1, N'Bác sĩ CKI', 3, 6)
SET IDENTITY_INSERT [dbo].[bac_si] OFF
GO
SET IDENTITY_INSERT [dbo].[benh] ON 

INSERT [dbo].[benh] ([benh_id], [ghi_chu], [huong_dieu_tri], [nguyen_nhan], [phong_ngua], [ten_benh], [trieu_chung]) VALUES (1, NULL, N'Uống nhiều nước, nghỉ ngơi, dùng thuốc hạ sốt và giảm đau', N'Virus cúm lây qua đường hô hấp', N'Giữ ấm cơ thể, tránh tiếp xúc người bệnh, tiêm vắc-xin phòng cúm hàng năm', N'Cảm cúm', N'Sốt nhẹ, ho, chảy nước mũi, đau họng')
INSERT [dbo].[benh] ([benh_id], [ghi_chu], [huong_dieu_tri], [nguyen_nhan], [phong_ngua], [ten_benh], [trieu_chung]) VALUES (2, NULL, N'Dùng thuốc hạ đường huyết, tiêm insulin nếu cần, kết hợp với thay đổi lối sống', N'Rối loạn chuyển hóa glucose, thường do di truyền hoặc béo phì', N'Chế độ ăn uống hợp lý, vận động thể lực, kiểm tra sức khỏe định kỳ', N'Tiểu đường tuýp 2', N'Khát nước, tiểu nhiều, mệt mỏi, sụt cân không rõ nguyên nhân')
INSERT [dbo].[benh] ([benh_id], [ghi_chu], [huong_dieu_tri], [nguyen_nhan], [phong_ngua], [ten_benh], [trieu_chung]) VALUES (3, NULL, N'Kháng sinh (nếu do vi khuẩn), điều trị triệu chứng và nghỉ ngơi', N'Nhiễm trùng do vi khuẩn hoặc virus', N'Giữ vệ sinh, tiêm vắc-xin phòng cúm & phế cầu, tránh khói thuốc', N'Viêm phổi', N'Sốt cao, ho có đờm, khó thở, đau ngực')
SET IDENTITY_INSERT [dbo].[benh] OFF
GO
SET IDENTITY_INSERT [dbo].[benh_an] ON 

INSERT [dbo].[benh_an] ([benhan_id], [ghi_chu], [ket_luan], [thoi_gian], [tom_tat], [bacsi_ket_luan_id], [lichkham_id]) VALUES (1, N'Hẹn tái khám sau 1 tháng', N'Tình trạng ổn định', CAST(N'2025-08-08T16:45:23.180' AS DateTime), N'Tái khám định kỳ', 1, 1)
INSERT [dbo].[benh_an] ([benhan_id], [ghi_chu], [ket_luan], [thoi_gian], [tom_tat], [bacsi_ket_luan_id], [lichkham_id]) VALUES (2, N'Đề nghị dùng thuốc xịt mũi', N'Viêm xoang cấp', CAST(N'2025-08-08T16:45:23.180' AS DateTime), N'Đau mũi, nghẹt mũi', 2, 2)
INSERT [dbo].[benh_an] ([benhan_id], [ghi_chu], [ket_luan], [thoi_gian], [tom_tat], [bacsi_ket_luan_id], [lichkham_id]) VALUES (3, N'Tiếp tục theo dõi', N'Dị ứng thời tiết', CAST(N'2025-08-08T16:45:23.180' AS DateTime), N'Nổi mẩn ngứa', 3, 3)
SET IDENTITY_INSERT [dbo].[benh_an] OFF
GO
SET IDENTITY_INSERT [dbo].[benh_nhan] ON 

INSERT [dbo].[benh_nhan] ([benhnhan_id], [bao_hiem], [can_cuoc_cong_dan], [dan_toc], [dia_chi], [lien_he_khan_cap], [ngay_cap_nhat], [ngay_tao], [nguoidung_id]) VALUES (1, N'BHYT-987654321', N'092345678901', N'Kinh', N'123 Nguyễn Trãi, Hà Nội', N'Nguyễn Văn Hào', CAST(N'2025-01-01' AS Date), CAST(N'2024-01-01' AS Date), 3)
INSERT [dbo].[benh_nhan] ([benhnhan_id], [bao_hiem], [can_cuoc_cong_dan], [dan_toc], [dia_chi], [lien_he_khan_cap], [ngay_cap_nhat], [ngay_tao], [nguoidung_id]) VALUES (2, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-08-10' AS Date), CAST(N'2025-08-10' AS Date), 1002)
SET IDENTITY_INSERT [dbo].[benh_nhan] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_don_thuoc] ON 

INSERT [dbo].[chi_tiet_don_thuoc] ([ctdonthuoc_id], [khoan_thoi_gian], [lieu_dung], [ten_thuoc], [tinh_thuong_xuyen], [donthuoc_id]) VALUES (1, 5, 2, N'Paracetamol', 1, 1)
INSERT [dbo].[chi_tiet_don_thuoc] ([ctdonthuoc_id], [khoan_thoi_gian], [lieu_dung], [ten_thuoc], [tinh_thuong_xuyen], [donthuoc_id]) VALUES (2, 7, 3, N'Amoxicillin', 0, 1)
INSERT [dbo].[chi_tiet_don_thuoc] ([ctdonthuoc_id], [khoan_thoi_gian], [lieu_dung], [ten_thuoc], [tinh_thuong_xuyen], [donthuoc_id]) VALUES (3, 3, 2, N'Ibuprofen', 1, 2)
SET IDENTITY_INSERT [dbo].[chi_tiet_don_thuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] ON 

INSERT [dbo].[chi_tiet_hoa_don] ([cthoadon_id], [don_gia], [so_luong], [tong_gia], [dichvu_id], [hoadon_id]) VALUES (1, CAST(150000.00 AS Decimal(18, 2)), 1, CAST(150000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[chi_tiet_hoa_don] ([cthoadon_id], [don_gia], [so_luong], [tong_gia], [dichvu_id], [hoadon_id]) VALUES (2, CAST(120000.00 AS Decimal(18, 2)), 1, CAST(120000.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[chi_tiet_hoa_don] ([cthoadon_id], [don_gia], [so_luong], [tong_gia], [dichvu_id], [hoadon_id]) VALUES (3, CAST(80000.00 AS Decimal(18, 2)), 1, CAST(80000.00 AS Decimal(18, 2)), 6, 1)
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[chuyen_khoa] ON 

INSERT [dbo].[chuyen_khoa] ([chuyenkhoa_id], [mo_ta], [ten_khoa]) VALUES (1, N'Chẩn đoán và điều trị các bệnh nội khoa thông thường như huyết áp, tiểu đường', N'Nội tổng quát')
INSERT [dbo].[chuyen_khoa] ([chuyenkhoa_id], [mo_ta], [ten_khoa]) VALUES (2, N'Chẩn đoán và điều trị bệnh cho trẻ em', N'Nhi khoa')
INSERT [dbo].[chuyen_khoa] ([chuyenkhoa_id], [mo_ta], [ten_khoa]) VALUES (3, N'Phẫu thuật các bệnh lý ngoại khoa phổ biến', N'Ngoại tổng quát')
SET IDENTITY_INSERT [dbo].[chuyen_khoa] OFF
GO
SET IDENTITY_INSERT [dbo].[dich_vu] ON 

INSERT [dbo].[dich_vu] ([dichvu_id], [gia], [mo_ta], [ten_dich_vu]) VALUES (1, CAST(200000.00 AS Decimal(18, 2)), N'Kiểm tra sức khỏe toàn diện, đo huyết áp, nhịp tim, BMI...', N'Khám tổng quát')
INSERT [dbo].[dich_vu] ([dichvu_id], [gia], [mo_ta], [ten_dich_vu]) VALUES (2, CAST(250000.00 AS Decimal(18, 2)), N'Khám và tư vấn chuyên sâu các bệnh nội khoa', N'Khám chuyên khoa nội')
INSERT [dbo].[dich_vu] ([dichvu_id], [gia], [mo_ta], [ten_dich_vu]) VALUES (3, CAST(250000.00 AS Decimal(18, 2)), N'Tư vấn, chẩn đoán các bệnh lý ngoại khoa', N'Khám chuyên khoa ngoại')
SET IDENTITY_INSERT [dbo].[dich_vu] OFF
GO
SET IDENTITY_INSERT [dbo].[don_thuoc] ON 

INSERT [dbo].[don_thuoc] ([donthuoc_id], [ngay_phat_hanh], [ppdieutri_id]) VALUES (1, CAST(N'2025-07-29T16:45:23.317' AS DateTime), 1)
INSERT [dbo].[don_thuoc] ([donthuoc_id], [ngay_phat_hanh], [ppdieutri_id]) VALUES (2, CAST(N'2025-07-30T16:45:23.317' AS DateTime), 2)
INSERT [dbo].[don_thuoc] ([donthuoc_id], [ngay_phat_hanh], [ppdieutri_id]) VALUES (3, CAST(N'2025-07-31T16:45:23.317' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[don_thuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[gio_kham_chi_tiet] ON 

INSERT [dbo].[gio_kham_chi_tiet] ([gio_kham_id], [thoi_gian], [trang_thai], [lichlv_id]) VALUES (1, CAST(N'08:00:00' AS Time), 0, 1)
INSERT [dbo].[gio_kham_chi_tiet] ([gio_kham_id], [thoi_gian], [trang_thai], [lichlv_id]) VALUES (2, CAST(N'08:15:00' AS Time), 0, 1)
INSERT [dbo].[gio_kham_chi_tiet] ([gio_kham_id], [thoi_gian], [trang_thai], [lichlv_id]) VALUES (3, CAST(N'08:30:00' AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[gio_kham_chi_tiet] OFF
GO
SET IDENTITY_INSERT [dbo].[ho_so_benh_an] ON 

INSERT [dbo].[ho_so_benh_an] ([hoso_id], [ngay_tao], [benh_id], [benhan_id]) VALUES (1, CAST(N'2025-08-08T16:45:23.213' AS DateTime), 1, 1)
INSERT [dbo].[ho_so_benh_an] ([hoso_id], [ngay_tao], [benh_id], [benhan_id]) VALUES (2, CAST(N'2025-08-08T16:45:23.213' AS DateTime), 2, 2)
INSERT [dbo].[ho_so_benh_an] ([hoso_id], [ngay_tao], [benh_id], [benhan_id]) VALUES (3, CAST(N'2025-08-08T16:45:23.213' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[ho_so_benh_an] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([hoadon_id], [ngay_tao], [tong_tien], [tong_tien_con_no], [tong_tien_thanh_toan], [trang_thai], [benhnhan_id], [nguoidung_lap_hoadon_id]) VALUES (1, CAST(N'2025-08-08T16:45:23.397' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), N'CHUA_THANH_TOAN', 1, 1)
INSERT [dbo].[hoa_don] ([hoadon_id], [ngay_tao], [tong_tien], [tong_tien_con_no], [tong_tien_thanh_toan], [trang_thai], [benhnhan_id], [nguoidung_lap_hoadon_id]) VALUES (2, CAST(N'2025-08-07T16:45:23.397' AS DateTime), CAST(1200000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'DA_THANH_TOAN', 1, 2)
INSERT [dbo].[hoa_don] ([hoadon_id], [ngay_tao], [tong_tien], [tong_tien_con_no], [tong_tien_thanh_toan], [trang_thai], [benhnhan_id], [nguoidung_lap_hoadon_id]) VALUES (3, CAST(N'2025-08-03T16:45:23.397' AS DateTime), CAST(750000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(750000.00 AS Decimal(18, 2)), N'CHUA_THANH_TOAN', 1, 3)
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[le_tan] ON 

INSERT [dbo].[le_tan] ([letan_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [nguoidung_id]) VALUES (1, N'Lễ tân tiếp nhận', N'Lễ tân ca sáng', CAST(N'2025-08-08' AS Date), CAST(N'2025-08-08' AS Date), CAST(N'2023-05-01' AS Date), 1, 4)
INSERT [dbo].[le_tan] ([letan_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [nguoidung_id]) VALUES (2, N'Leex Taan', N'qwqwdqwd', NULL, NULL, CAST(N'2025-08-10' AS Date), 1, 1006)
INSERT [dbo].[le_tan] ([letan_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [ngay_tuyen_dung], [trang_thai_hoat_dong], [nguoidung_id]) VALUES (3, N'Lễ Tân', N'123321123', NULL, NULL, CAST(N'2025-08-09' AS Date), 1, 1007)
SET IDENTITY_INSERT [dbo].[le_tan] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_kham] ON 

INSERT [dbo].[lich_kham] ([lichkham_id], [ca_kham], [ghi_chu], [ngay_cap_nhat], [ngay_kham], [ngay_tao], [thoi_gian_den], [thoi_gian_tu], [trang_thai], [bacsi_id], [benhnhan_id], [loai_id]) VALUES (1, N'Sáng', N'Khám định kỳ', CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'2025-08-09' AS Date), CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'08:15:00' AS Time), CAST(N'08:00:00' AS Time), N'Đang chờ', 1, 1, 1)
INSERT [dbo].[lich_kham] ([lichkham_id], [ca_kham], [ghi_chu], [ngay_cap_nhat], [ngay_kham], [ngay_tao], [thoi_gian_den], [thoi_gian_tu], [trang_thai], [bacsi_id], [benhnhan_id], [loai_id]) VALUES (2, N'Sáng', N'Khám tai mũi họng', CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'2025-08-10' AS Date), CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'08:45:00' AS Time), CAST(N'08:30:00' AS Time), N'Đang chờ', 2, 1, 2)
INSERT [dbo].[lich_kham] ([lichkham_id], [ca_kham], [ghi_chu], [ngay_cap_nhat], [ngay_kham], [ngay_tao], [thoi_gian_den], [thoi_gian_tu], [trang_thai], [bacsi_id], [benhnhan_id], [loai_id]) VALUES (3, N'Sáng', N'Khám da liễu', CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'2025-08-11' AS Date), CAST(N'2025-08-08T16:45:23.160' AS DateTime), CAST(N'09:15:00' AS Time), CAST(N'09:00:00' AS Time), N'Đang chờ', 3, 1, 3)
SET IDENTITY_INSERT [dbo].[lich_kham] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_lam_viec_bac_si] ON 

INSERT [dbo].[lich_lam_viec_bac_si] ([lichlv_id], [ca_truc], [ly_do_nghi], [ngay], [ngay_cap_nhat], [ngay_tao], [bacsi_id]) VALUES (1, N'Sáng', NULL, CAST(N'2025-08-10' AS Date), CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-08-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[lich_lam_viec_bac_si] ([lichlv_id], [ca_truc], [ly_do_nghi], [ngay], [ngay_cap_nhat], [ngay_tao], [bacsi_id]) VALUES (2, N'Chiều', NULL, CAST(N'2025-08-10' AS Date), CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-08-01T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[lich_lam_viec_bac_si] ([lichlv_id], [ca_truc], [ly_do_nghi], [ngay], [ngay_cap_nhat], [ngay_tao], [bacsi_id]) VALUES (3, N'Sáng', NULL, CAST(N'2025-08-10' AS Date), CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-08-01T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[lich_lam_viec_bac_si] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_lam_viec_le_tan] ON 

INSERT [dbo].[lich_lam_viec_le_tan] ([lichlt_id], [ca_lam], [ghi_chu], [ngay], [letan_id]) VALUES (1, N'Sáng', N'Trực quầy lễ tân', CAST(N'2025-08-09' AS Date), 1)
INSERT [dbo].[lich_lam_viec_le_tan] ([lichlt_id], [ca_lam], [ghi_chu], [ngay], [letan_id]) VALUES (2, N'Sáng', N'Trực tiếp bệnh nhân mới', CAST(N'2025-08-10' AS Date), 1)
INSERT [dbo].[lich_lam_viec_le_tan] ([lichlt_id], [ca_lam], [ghi_chu], [ngay], [letan_id]) VALUES (3, N'Chiều', N'Thu ngân & báo cáo thu chi', CAST(N'2025-08-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[lich_lam_viec_le_tan] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_phong_kham] ON 

INSERT [dbo].[lich_phong_kham] ([lichphongkham_id], [lichlv_id], [phongkham_id]) VALUES (1, 1, 1)
INSERT [dbo].[lich_phong_kham] ([lichphongkham_id], [lichlv_id], [phongkham_id]) VALUES (2, 2, 3)
INSERT [dbo].[lich_phong_kham] ([lichphongkham_id], [lichlv_id], [phongkham_id]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[lich_phong_kham] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_su_dieu_tri] ON 

INSERT [dbo].[lich_su_dieu_tri] ([lsdieutri_id], [ghi_chu], [ngay_dieu_tri], [benhan_id]) VALUES (1, N'Theo dõi chỉ số huyết áp và nhịp tim', CAST(N'2025-08-09' AS Date), 1)
INSERT [dbo].[lich_su_dieu_tri] ([lsdieutri_id], [ghi_chu], [ngay_dieu_tri], [benhan_id]) VALUES (2, N'Điều trị viêm xoang bằng thuốc xịt mũi', CAST(N'2025-08-10' AS Date), 2)
INSERT [dbo].[lich_su_dieu_tri] ([lsdieutri_id], [ghi_chu], [ngay_dieu_tri], [benhan_id]) VALUES (3, N'Bôi thuốc mỡ trị viêm da dị ứng', CAST(N'2025-08-11' AS Date), 3)
SET IDENTITY_INSERT [dbo].[lich_su_dieu_tri] OFF
GO
SET IDENTITY_INSERT [dbo].[loai_hinh_kham] ON 

INSERT [dbo].[loai_hinh_kham] ([loai_id], [gia], [mo_ta], [ten_loai]) VALUES (1, CAST(150000.00 AS Decimal(18, 2)), N'Bệnh nhân đến trực tiếp tại cơ sở y tế để khám bệnh', N'Khám trực tiếp')
INSERT [dbo].[loai_hinh_kham] ([loai_id], [gia], [mo_ta], [ten_loai]) VALUES (2, CAST(120000.00 AS Decimal(18, 2)), N'Tư vấn & khám bệnh từ xa qua điện thoại hoặc video call', N'Khám từ xa (Telemedicine)')
INSERT [dbo].[loai_hinh_kham] ([loai_id], [gia], [mo_ta], [ten_loai]) VALUES (3, CAST(300000.00 AS Decimal(18, 2)), N'Dành cho các trường hợp cần xử lý y tế khẩn cấp', N'Khám cấp cứu')
SET IDENTITY_INSERT [dbo].[loai_hinh_kham] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([nguoidung_id], [email], [gioi_tinh], [hoten], [mat_khau], [ngay_cap_nhat], [ngay_tao], [so_dien_thoai]) VALUES (1, N'hung.nguyen@bvnim.com', N'Nam', N'Nguyễn Văn Hùng', N'$2a$12$bfXvA5R8PqXFKQTsqdmDy.W9E8xoW384u0SR5ZZYRfn31dFYAvAdu', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'0901234567')
INSERT [dbo].[nguoi_dung] ([nguoidung_id], [email], [gioi_tinh], [hoten], [mat_khau], [ngay_cap_nhat], [ngay_tao], [so_dien_thoai]) VALUES (2, N'mai.tran@bvnim.com', N'Nữ', N'Trần Thị Mai', N'$2a$12$bfXvA5R8PqXFKQTsqdmDy.W9E8xoW384u0SR5ZZYRfn31dFYAvAdu', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'0902345678')
INSERT [dbo].[nguoi_dung] ([nguoidung_id], [email], [gioi_tinh], [hoten], [mat_khau], [ngay_cap_nhat], [ngay_tao], [so_dien_thoai]) VALUES (3, N'nam.le@bvnim.com', N'Nam', N'Lê Hoàng Nam', N'$2a$12$bfXvA5R8PqXFKQTsqdmDy.W9E8xoW384u0SR5ZZYRfn31dFYAvAdu', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'0903456789')
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[phan_quyen] ON 

INSERT [dbo].[phan_quyen] ([phanquyen_id], [nguoidung_id], [vaitro_id]) VALUES (1, 1, 3)
INSERT [dbo].[phan_quyen] ([phanquyen_id], [nguoidung_id], [vaitro_id]) VALUES (2, 2, 1)
INSERT [dbo].[phan_quyen] ([phanquyen_id], [nguoidung_id], [vaitro_id]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[phan_quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[phong_kham] ON 

INSERT [dbo].[phong_kham] ([phongkham_id], [loai_phong], [mo_ta], [so_phong]) VALUES (1, N'Khám nội', N'Phòng khám chuyên về các bệnh lý nội khoa', N'101')
INSERT [dbo].[phong_kham] ([phongkham_id], [loai_phong], [mo_ta], [so_phong]) VALUES (2, N'Khám ngoại', N'Phòng khám chuyên các bệnh lý ngoại khoa', N'102')
INSERT [dbo].[phong_kham] ([phongkham_id], [loai_phong], [mo_ta], [so_phong]) VALUES (3, N'Nhi khoa', N'Phòng khám cho trẻ em', N'103')
SET IDENTITY_INSERT [dbo].[phong_kham] OFF
GO
SET IDENTITY_INSERT [dbo].[phuong_phap_dieu_tri] ON 

INSERT [dbo].[phuong_phap_dieu_tri] ([ppdieutri_id], [hieu_qua], [ten_phuong_phap], [lsdieutri_id]) VALUES (1, N'Hiệu quả tốt', N'Uống thuốc hạ huyết áp hàng ngày', 1)
INSERT [dbo].[phuong_phap_dieu_tri] ([ppdieutri_id], [hieu_qua], [ten_phuong_phap], [lsdieutri_id]) VALUES (2, N'Khá hiệu quả', N'Rửa mũi bằng nước muối sinh lý', 2)
INSERT [dbo].[phuong_phap_dieu_tri] ([ppdieutri_id], [hieu_qua], [ten_phuong_phap], [lsdieutri_id]) VALUES (3, N'Đỡ ngứa', N'Dùng kem bôi ngoài da chứa corticoid', 3)
SET IDENTITY_INSERT [dbo].[phuong_phap_dieu_tri] OFF
GO
SET IDENTITY_INSERT [dbo].[quan_ly] ON 

INSERT [dbo].[quan_ly] ([quanly_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [nguoidung_id]) VALUES (1, N'Quản trị hệ thống', N'Quản lý toàn bộ hệ thống, phân quyền người dùng', NULL, NULL, 1)
INSERT [dbo].[quan_ly] ([quanly_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [nguoidung_id]) VALUES (2, N'Lễ Tân', N'13456789876543', CAST(N'2025-08-10' AS Date), CAST(N'2025-08-10' AS Date), 1004)
INSERT [dbo].[quan_ly] ([quanly_id], [chuc_vu], [ghi_chu], [ngay_cap_nhat], [ngay_tao], [nguoidung_id]) VALUES (3, N'Lễ Tân', N'2313123123123', CAST(N'2025-08-10' AS Date), CAST(N'2025-08-10' AS Date), 1005)
SET IDENTITY_INSERT [dbo].[quan_ly] OFF
GO
SET IDENTITY_INSERT [dbo].[thanh_toan] ON 

INSERT [dbo].[thanh_toan] ([thanhtoan_id], [ghi_chu], [ma_giao_dich], [ngay_thanh_toan], [phuong_thuc_thanh_toan], [so_tien_thanh_toan], [trang_thai], [hoadon_id]) VALUES (1, N'Thanh toán tại quầy', N'GD001', CAST(N'2025-08-08' AS Date), N'Tiền mặt', CAST(500000.00 AS Decimal(18, 2)), N'Đã thanh toán', 1)
INSERT [dbo].[thanh_toan] ([thanhtoan_id], [ghi_chu], [ma_giao_dich], [ngay_thanh_toan], [phuong_thuc_thanh_toan], [so_tien_thanh_toan], [trang_thai], [hoadon_id]) VALUES (2, N'Thanh toán qua ngân hàng', N'GD002', CAST(N'2025-08-07' AS Date), N'Chuyển khoản', CAST(1000000.00 AS Decimal(18, 2)), N'Đã thanh toán', 2)
INSERT [dbo].[thanh_toan] ([thanhtoan_id], [ghi_chu], [ma_giao_dich], [ngay_thanh_toan], [phuong_thuc_thanh_toan], [so_tien_thanh_toan], [trang_thai], [hoadon_id]) VALUES (3, N'Thanh toán bằng thẻ', N'GD003', CAST(N'2025-08-03' AS Date), N'Thẻ tín dụng', CAST(750000.00 AS Decimal(18, 2)), N'Đã thanh toán', 3)
SET IDENTITY_INSERT [dbo].[thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[vai_tro] ON 

INSERT [dbo].[vai_tro] ([vaitro_id], [mo_ta], [ten_vai_tro]) VALUES (1, N'Tài khoản của bác sĩ', N'Bác sĩ')
INSERT [dbo].[vai_tro] ([vaitro_id], [mo_ta], [ten_vai_tro]) VALUES (2, N'Tài khoản của bệnh nhân', N'Bệnh nhân')
INSERT [dbo].[vai_tro] ([vaitro_id], [mo_ta], [ten_vai_tro]) VALUES (3, N'Tài khoản có toàn quyền', N'Quản lý')
SET IDENTITY_INSERT [dbo].[vai_tro] OFF
GO
/****** Object:  Index [UKf8cfb3176vwqsilcewnvdjw5n]    Script Date: 8/10/2025 8:47:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKf8cfb3176vwqsilcewnvdjw5n] ON [dbo].[le_tan]
(
	[nguoidung_id] ASC
)
WHERE ([nguoidung_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKhss5jfmq1ns6q4dn1pc7mcjam]    Script Date: 8/10/2025 8:47:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKhss5jfmq1ns6q4dn1pc7mcjam] ON [dbo].[nguoi_dung]
(
	[so_dien_thoai] ASC
)
WHERE ([so_dien_thoai] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKmajqh5g4djy2tp3p9dvr64brp]    Script Date: 8/10/2025 8:47:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKmajqh5g4djy2tp3p9dvr64brp] ON [dbo].[nguoi_dung]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK2p9hia8nrg4ar9sd6k6t6usw0]    Script Date: 8/10/2025 8:47:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK2p9hia8nrg4ar9sd6k6t6usw0] ON [dbo].[quan_ly]
(
	[nguoidung_id] ASC
)
WHERE ([nguoidung_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bac_si]  WITH CHECK ADD  CONSTRAINT [FK2jf2895973w3nojy0ngpyrlr0] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[bac_si] CHECK CONSTRAINT [FK2jf2895973w3nojy0ngpyrlr0]
GO
ALTER TABLE [dbo].[bac_si]  WITH CHECK ADD  CONSTRAINT [FKop7yx88juta9gqvvf24y1eftp] FOREIGN KEY([chuyenkhoa_id])
REFERENCES [dbo].[chuyen_khoa] ([chuyenkhoa_id])
GO
ALTER TABLE [dbo].[bac_si] CHECK CONSTRAINT [FKop7yx88juta9gqvvf24y1eftp]
GO
ALTER TABLE [dbo].[benh_an]  WITH CHECK ADD  CONSTRAINT [FKmvvj3194byoxgosxyfbmu2ggm] FOREIGN KEY([lichkham_id])
REFERENCES [dbo].[lich_kham] ([lichkham_id])
GO
ALTER TABLE [dbo].[benh_an] CHECK CONSTRAINT [FKmvvj3194byoxgosxyfbmu2ggm]
GO
ALTER TABLE [dbo].[benh_an]  WITH CHECK ADD  CONSTRAINT [FKqoglxjk4uslnh2ccfl8patdda] FOREIGN KEY([bacsi_ket_luan_id])
REFERENCES [dbo].[bac_si] ([bacsi_id])
GO
ALTER TABLE [dbo].[benh_an] CHECK CONSTRAINT [FKqoglxjk4uslnh2ccfl8patdda]
GO
ALTER TABLE [dbo].[benh_nhan]  WITH CHECK ADD  CONSTRAINT [FKabuf4qpehl38q3hm2yqk191if] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[benh_nhan] CHECK CONSTRAINT [FKabuf4qpehl38q3hm2yqk191if]
GO
ALTER TABLE [dbo].[certificate_update_request]  WITH CHECK ADD  CONSTRAINT [FKcu5ikhikkteyxdjds2x4m6oi2] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[bac_si] ([bacsi_id])
GO
ALTER TABLE [dbo].[certificate_update_request] CHECK CONSTRAINT [FKcu5ikhikkteyxdjds2x4m6oi2]
GO
ALTER TABLE [dbo].[chi_tiet_don_thuoc]  WITH CHECK ADD  CONSTRAINT [FK9uetohochfsbd7ahn4u5sbn3a] FOREIGN KEY([donthuoc_id])
REFERENCES [dbo].[don_thuoc] ([donthuoc_id])
GO
ALTER TABLE [dbo].[chi_tiet_don_thuoc] CHECK CONSTRAINT [FK9uetohochfsbd7ahn4u5sbn3a]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FKebcwsvsg2ymbkbbbaf3exxebx] FOREIGN KEY([hoadon_id])
REFERENCES [dbo].[hoa_don] ([hoadon_id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FKebcwsvsg2ymbkbbbaf3exxebx]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FKep9aq01kdoge78gjo1r6kgcxr] FOREIGN KEY([dichvu_id])
REFERENCES [dbo].[dich_vu] ([dichvu_id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FKep9aq01kdoge78gjo1r6kgcxr]
GO
ALTER TABLE [dbo].[don_nghi_phep]  WITH CHECK ADD  CONSTRAINT [FKsc7hw24dtbamey56j26fssbcv] FOREIGN KEY([bacsi_id])
REFERENCES [dbo].[bac_si] ([bacsi_id])
GO
ALTER TABLE [dbo].[don_nghi_phep] CHECK CONSTRAINT [FKsc7hw24dtbamey56j26fssbcv]
GO
ALTER TABLE [dbo].[don_thuoc]  WITH CHECK ADD  CONSTRAINT [FKbr7lq96mly4sb1w01bvhrcg1y] FOREIGN KEY([ppdieutri_id])
REFERENCES [dbo].[phuong_phap_dieu_tri] ([ppdieutri_id])
GO
ALTER TABLE [dbo].[don_thuoc] CHECK CONSTRAINT [FKbr7lq96mly4sb1w01bvhrcg1y]
GO
ALTER TABLE [dbo].[gio_kham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKb1d7oy4ujlijvg2vgi3nsb05m] FOREIGN KEY([lichlv_id])
REFERENCES [dbo].[lich_lam_viec_bac_si] ([lichlv_id])
GO
ALTER TABLE [dbo].[gio_kham_chi_tiet] CHECK CONSTRAINT [FKb1d7oy4ujlijvg2vgi3nsb05m]
GO
ALTER TABLE [dbo].[ho_so_benh_an]  WITH CHECK ADD  CONSTRAINT [FK3byry252r463d8aqk32p3c1cs] FOREIGN KEY([benhan_id])
REFERENCES [dbo].[benh_an] ([benhan_id])
GO
ALTER TABLE [dbo].[ho_so_benh_an] CHECK CONSTRAINT [FK3byry252r463d8aqk32p3c1cs]
GO
ALTER TABLE [dbo].[ho_so_benh_an]  WITH CHECK ADD  CONSTRAINT [FKs1viw4iss2kp52a792xgj1yq] FOREIGN KEY([benh_id])
REFERENCES [dbo].[benh] ([benh_id])
GO
ALTER TABLE [dbo].[ho_so_benh_an] CHECK CONSTRAINT [FKs1viw4iss2kp52a792xgj1yq]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FKfsisbnk96o83lerbypto8ghr] FOREIGN KEY([benhnhan_id])
REFERENCES [dbo].[benh_nhan] ([benhnhan_id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FKfsisbnk96o83lerbypto8ghr]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FKjlrr14x7fljh43cfxvyeksmpo] FOREIGN KEY([nguoidung_lap_hoadon_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FKjlrr14x7fljh43cfxvyeksmpo]
GO
ALTER TABLE [dbo].[le_tan]  WITH CHECK ADD  CONSTRAINT [FK4ls9sxcbvc821vx1hjsv447cf] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[le_tan] CHECK CONSTRAINT [FK4ls9sxcbvc821vx1hjsv447cf]
GO
ALTER TABLE [dbo].[lich_kham]  WITH CHECK ADD  CONSTRAINT [FK7spb7h5bv50m4hb1jiwbmo8ss] FOREIGN KEY([bacsi_id])
REFERENCES [dbo].[bac_si] ([bacsi_id])
GO
ALTER TABLE [dbo].[lich_kham] CHECK CONSTRAINT [FK7spb7h5bv50m4hb1jiwbmo8ss]
GO
ALTER TABLE [dbo].[lich_kham]  WITH CHECK ADD  CONSTRAINT [FKdhlnkdfe1qkkamchsl988tnws] FOREIGN KEY([benhnhan_id])
REFERENCES [dbo].[benh_nhan] ([benhnhan_id])
GO
ALTER TABLE [dbo].[lich_kham] CHECK CONSTRAINT [FKdhlnkdfe1qkkamchsl988tnws]
GO
ALTER TABLE [dbo].[lich_kham]  WITH CHECK ADD  CONSTRAINT [FKl4bhmp9e4e64iesns2okw9p4k] FOREIGN KEY([loai_id])
REFERENCES [dbo].[loai_hinh_kham] ([loai_id])
GO
ALTER TABLE [dbo].[lich_kham] CHECK CONSTRAINT [FKl4bhmp9e4e64iesns2okw9p4k]
GO
ALTER TABLE [dbo].[lich_lam_viec_bac_si]  WITH CHECK ADD  CONSTRAINT [FKstuebywcs1atlkl580iyh1fjl] FOREIGN KEY([bacsi_id])
REFERENCES [dbo].[bac_si] ([bacsi_id])
GO
ALTER TABLE [dbo].[lich_lam_viec_bac_si] CHECK CONSTRAINT [FKstuebywcs1atlkl580iyh1fjl]
GO
ALTER TABLE [dbo].[lich_lam_viec_le_tan]  WITH CHECK ADD  CONSTRAINT [FKsdowabsckp1wwb25kpgg02sk2] FOREIGN KEY([letan_id])
REFERENCES [dbo].[le_tan] ([letan_id])
GO
ALTER TABLE [dbo].[lich_lam_viec_le_tan] CHECK CONSTRAINT [FKsdowabsckp1wwb25kpgg02sk2]
GO
ALTER TABLE [dbo].[lich_phong_kham]  WITH CHECK ADD  CONSTRAINT [FKk5ah59d6sbpfyjpd9ug2p7xfn] FOREIGN KEY([lichlv_id])
REFERENCES [dbo].[lich_lam_viec_bac_si] ([lichlv_id])
GO
ALTER TABLE [dbo].[lich_phong_kham] CHECK CONSTRAINT [FKk5ah59d6sbpfyjpd9ug2p7xfn]
GO
ALTER TABLE [dbo].[lich_phong_kham]  WITH CHECK ADD  CONSTRAINT [FKtfr6l5pyjym7auh9i9l5mlso9] FOREIGN KEY([phongkham_id])
REFERENCES [dbo].[phong_kham] ([phongkham_id])
GO
ALTER TABLE [dbo].[lich_phong_kham] CHECK CONSTRAINT [FKtfr6l5pyjym7auh9i9l5mlso9]
GO
ALTER TABLE [dbo].[lich_su_dieu_tri]  WITH CHECK ADD  CONSTRAINT [FKe4263axhn2freh5fijotfnduk] FOREIGN KEY([benhan_id])
REFERENCES [dbo].[benh_an] ([benhan_id])
GO
ALTER TABLE [dbo].[lich_su_dieu_tri] CHECK CONSTRAINT [FKe4263axhn2freh5fijotfnduk]
GO
ALTER TABLE [dbo].[phan_quyen]  WITH CHECK ADD  CONSTRAINT [FKblnnhyie5mkl6fpngw4bnb1i] FOREIGN KEY([vaitro_id])
REFERENCES [dbo].[vai_tro] ([vaitro_id])
GO
ALTER TABLE [dbo].[phan_quyen] CHECK CONSTRAINT [FKblnnhyie5mkl6fpngw4bnb1i]
GO
ALTER TABLE [dbo].[phan_quyen]  WITH CHECK ADD  CONSTRAINT [FKj5pspfe6av7myy26xu39u4w4i] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[phan_quyen] CHECK CONSTRAINT [FKj5pspfe6av7myy26xu39u4w4i]
GO
ALTER TABLE [dbo].[phuong_phap_dieu_tri]  WITH CHECK ADD  CONSTRAINT [FK3m6elsd1njmstcstv263va6ss] FOREIGN KEY([lsdieutri_id])
REFERENCES [dbo].[lich_su_dieu_tri] ([lsdieutri_id])
GO
ALTER TABLE [dbo].[phuong_phap_dieu_tri] CHECK CONSTRAINT [FK3m6elsd1njmstcstv263va6ss]
GO
ALTER TABLE [dbo].[quan_ly]  WITH CHECK ADD  CONSTRAINT [FKruew9lhtmobdndpc4qu32bqn2] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[nguoi_dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[quan_ly] CHECK CONSTRAINT [FKruew9lhtmobdndpc4qu32bqn2]
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD  CONSTRAINT [FKalj6v4qbbmfqlxvkap3jyigei] FOREIGN KEY([hoadon_id])
REFERENCES [dbo].[hoa_don] ([hoadon_id])
GO
ALTER TABLE [dbo].[thanh_toan] CHECK CONSTRAINT [FKalj6v4qbbmfqlxvkap3jyigei]
GO
ALTER TABLE [dbo].[certificate_update_request]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[don_nghi_phep]  WITH CHECK ADD CHECK  (([trang_thai]='TU_CHOI' OR [trang_thai]='DUOC_DUYET' OR [trang_thai]='CHO_DUYET'))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([trang_thai]='HUY' OR [trang_thai]='DA_THANH_TOAN' OR [trang_thai]='CHUA_THANH_TOAN'))
GO
USE [master]
GO
